{
  "extends": [
    "@fedeviotti/eslint-config",
    "@fedeviotti/eslint-config/typescript",
    "@fedeviotti/eslint-config/hooks",
    "@fedeviotti/eslint-config/testing",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.test.tsx",
          "**/*.stories.tsx",
          "src/tests/**",
          "**/setupTests.ts"
        ]
      }
    ]
  }
}
